.footer{
    width: 100%;
    background-image: linear-gradient(#d202ff,#9400c4);
    padding:0.7rem 0;
    color: white;
   .footer_container{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer_info{
        img{
            width: 100px;
        }
        p{
            font-size: 12px;
        }
    }
    .advertise{
        h1{
            font-size: 17px;
            padding: 0.7rem 1rem;
            background-color: rgb(94, 94, 94);
        }
    }
   }
  
}