.about_component {
    width: 95%;
    margin: 0 auto;
    height: 90vh;

    .about_details {
        border: 1px solid blue;

        .about_logo {
            display: flex;
            align-items: flex-end;

            img {

                width: 200px;
            }

            h2 {

                margin-left: 0.3rem;
                font-size: 18px;
                color: red;
            }
        }
        .site_social_media{
            ul{
                display: flex;
                list-style: none;
                li{
                    img{
                        width: 25px;
                    }
                }
            }
        }

    }

    .dev_info {
        border: 1px solid red;
        width: 30%;
        margin-top: 2rem;

        .developer_social_media {
            ul {
                display: flex;
                justify-content: space-evenly;
                list-style: none;

                li {
                    img {
                        width: 25px;
                    }
                }
            }
        }
    }
    .donate{
    
        background-color: orange;
        display: inline;
        .donate_link{
            text-decoration: none;
            color: white;
            
            font-size: 20px;
            font-weight: 400;
        }
    }
}