.bot_tab_news{
    width: 32%;
    .headline_tab{
        border-bottom: 1px solid gray;
        position: relative;
       .headline_tab_img{
        max-height: 250px;
        
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
       }
        .headline_desc{
            background-color:var(--article_text_background);
            height: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
           
            width: 100%;
           
            .headline_desc_container{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                padding: 1rem;
                h3{
                    color: white;
                    font-size: 17px;
                    font-weight: 400;
                }
                p{
                    margin-top: 1rem;
                    color: white;
                    font-size: 13px;
                }
            }
           
        }
    }
    ul{
        margin-top: 1rem;
        list-style: none;
        padding:0 1rem;
        li{
            margin-bottom: 1rem;
            border-bottom: 1px solid rgba(128, 128, 128, 0.171);
            .headlink{
                &:hover{
                    text-decoration: underline;
                }
            }
          
        }
        
    }
}